<div>
  <ul>
    <li [style.color]="color">
      <a href="https://github.com/JWTappert">
        <i class="fab fa-github-square hvr-bob"></i>
      </a>
    </li>
    <li [style.color]="color">
      <a href="https://www.linkedin.com/in/tappertj">
        <i class="fab fa-linkedin hvr-bob"></i>
      </a>
    </li>
    <li [style.color]="color">
      <a (click)="emailMe = true">
        <i class="fas fa-envelope-square hvr-bob"></i>
      </a>
    </li>
  </ul>
</div>

<div *ngIf="emailMe">
  <h2>Contact Me</h2>
  <form name="contact" action="/done/" netlify method="POST" netlify-honeypot="bot-field">
    <input type="hidden" name="form-name" value="contact" />
    <p class="hidden">
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </p>
    <p>
      <label>Name <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email <input type="email" name="email" required /></label>
    </p>
    <p>
      <label>Message <textarea name="message"></textarea></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</div>
