.icon {
  fill: white;
  transition: all 0.5s ease;

  & svg {
    width: 100%;
  }
  & :hover {
    fill: gold;
    // -webkit-transform: scale(1.3);
    // -ms-transform: scale(1.3);
    // transform: scale(1.3);
  }
}

.wrapper {
  margin: 0 1%;
  min-height: 30px;
  min-width: 30px;
  max-width: 50px;
  max-height: 50px;

  cursor: pointer;
  display: block;

  & :hover {
    fill: gold;
    // -webkit-transform: scale(1.3);
    // -ms-transform: scale(1.3);
    // transform: scale(1.3);
  }
}
