@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap");

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body,
.container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: "Jost", sans-serif;
  background-color: #164d42;
  color: #fff;

  & h1 {
    margin-left: 2%;
    letter-spacing: 0.1em;
    font-weight: 200;
  }
}

body.with-container {
  display: unset;
  overflow: unset;
}

body.with-container > * {
  margin: 1em;
}

.container {
  display: flex;
  flex: 1;
  min-height: 400px;
  height: 90vh;
  width: 100vw;
  background-image: url("/endless-clouds.svg");

  // temp
  & :nth-child(even) {
  }
}

.block {
  padding: 5%;
  height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;

  color: #fff;
}

.block a {
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10%;

  //temp
  background-color: #333;

  & small {
    letter-spacing: 0.1em;
    margin-left: 2%;
  }

  & .brand {
    display: flex;
    align-items: center;
    width: 35%;
  }

  & .social {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
