<div class="jumbotron jumbotron-fluid overlay">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <h1 class="display-2">Hey, I'm Justin</h1>
        <p class="lead">
          I like to create
          <span class="slidingVertical">
            <span>things.</span>
            <span>software.</span>
            <span>experiences.</span>
            <span>designs.</span>
            <span>art.</span>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="nav">
          <app-nav></app-nav>
        </div>
      </div>
    </div>
  </div>

</div>
