<div class="jumbotron jumbotron-fluid overlay">
  <div class="row">
    <div class="col">
      <div class="container">
        <h1 class="display-2">Hey, I'm Justin</h1>
        <p class="lead">
          I like to <span class="accent">create</span>
          <span class="slidingVertical">
            <span>stuff.</span>
            <span>software.</span>
            <span>experiences.</span>
            <span>designs.</span>
            <span>art.</span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-end">
  <div class="col-3 mx-auto">
    <app-nav></app-nav>
  </div>
</div>
