<div class="container centered">
    <h2>Contact Me</h2>
    <form name="contact" netlify>
        <input type="hidden" name="form-name" value="contact" method="POST"/>
      <p>
        <label>Name <input type="text" name="name" /></label>
      </p>
      <p>
        <label>Email <input type="email" name="email" /></label>
      </p>
      <p>
        <label>Message <textarea name="message"></textarea></label>
      </p>
      <p>
        <button type="submit">Send</button>
      </p>
    </form>
</div>
