/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  --primary-color: teal;
  --accent-color: orange;
}

h1 {
  color: var(--primary-color);
}

h2,
h3,
h4,
h5 {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

.centered {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav {
  margin-top: 15em;
}
