/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  --primary-color: teal;
  --accent-color: magenta;
  color: black;
}

h1 {
  color: white;
}

h2,
h3,
h4,
h5 {
  color: var(--accent-color);
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.accent {
  color: var(--accent-color);
}
