/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  --accent-color: teal;
}

h1, h2, h3, h4, h5 {
  color: var(--accent-color);
  font-family: 'Notable', sans-serif;
}

.hero {
  min-height: 450px;
}

.hero h1 {
  font-size: 4em;
  color: teal;
  margin-top: 3em;
  margin-bottom: 0;
}

.centered {
  height: 10em;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav {
  justify-content: end;
}
